<div class="flex justify-center">
  <div class="w-full max-w-md px-10">
    <h1 class="text-2xl font-bold text-center mb-4">プロフィール</h1>
    
    <table class="table-auto">
      <tr>
        <th scope="row" class="text-left p-2 text-xs font-medium text-gray-500 uppercase tracking-wider">
          <p>ユーザー名</p>
        </th>
        <td class="p-2 whitespace-nowrap">
          <%= current_user.name %>
        </td>
      </tr>
      <tr>
        <th scope="row" class="text-left p-2 text-xs font-medium text-gray-500 uppercase tracking-wider">
          <p>メールアドレス</p>
        </th>
        <td class="p-2 whitespace-nowrap">
          <%= current_user.email %>
        </td>
      </tr>
    </table>
    <div class='text-center mt-4'>
      <%= link_to '編集', edit_profile_path, class: "bg-indigo-700 hover:bg-indigo-600 focus:outline-none text-white font-bold py-2 px-4 mb-4 rounded" %>
    </div>
  </div>
</div>
