<header>
  <nav class='flex items-center justify-between h-16 text-sm text-slate-600 font-bold py-2 pl-5 pr-3 relative'>
    <%= link_to root_path, class: 'inline-block' do %>
      <%= image_tag 'logo_without_appname.png', size: "50x50", class: 'rounded-full' %>
    <% end %>

    <div class='flex flex-row items-center space-x-2'>
      <%= link_to login_path do %>
        <i class='fas fa-sign-in-alt w-7 h-7 p-2'></i>
      <% end %>
      <%= link_to new_user_path do %>
        <i class='fa-solid fa-user-plus w-7 h-7 p-2'></i>
      <% end %>
    </div>
  </nav>
</header>
