<% flash.each do |type, message| %>
  <!-- flash_classメソッドはapp/helpers/flash_helper.rbで定義している -->
  <div class="<%= flash_class(type) %> w-full p-4 mb-4 rounded">
    <%= message %>
  </div>
<% end %>