<% flash.each do |type, message| %>
  <% case type %>
  <% when 'success' %>
    <div class="bg-green-100 text-green-800 w-full p-4 mb-4 rounded">
      <%= message %>
    </div>
  <% when 'danger' %>
    <div class="bg-red-100 text-red-800 w-full p-4 mb-4 rounded">
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- 元々は、アプリ内でtailwindのカスタムスタイルを作成し、fkashのtypeに応じて、ここで動的にスタイルを当てる仕組みにしたかった。 -->
<!-- しかしカスタムスタイルの読み込みがうまくできなかったので、現状は上記の通り条件分岐して直接スタイル当てている。カスタムスタイルの読み込みなどを調べて、可能であればカスタムスタイルの実装を試みる。 -->
<!-- 以下は、カスタムスタイル作成時に変更を加えたファイル。それ以降の変更は、現状加えていない。 -->
<!-- app/helpers/flash_helper.rb -->
<!-- app/stylesheets/flash_messages.css -->
<!-- app/assets/stylesheets/application.tailwind.css -->