<footer id='footer' class='flex items-center bg-cyan-800 text-slate-50 h-16'>
  <div class='container mx-auto px-4'>
    <div class='flex flex-wrap'>
      <div class='w-full'>
        <div class='text-center font-bold'>
          <p>Copyright © アプリ名</p>
        </div>
      </div>
    </div>
  </div>
</footer>
