<footer id='footer' class='flex items-center bg-gray-200 text-gray-800 h-16'>
  <div class='container mx-auto px-4'>
    <div class='flex flex-wrap'>
      <div class='w-full'>
        <div class='text-center'>
          <p>Copyright © アプリ名</p>
        </div>
      </div>
    </div>
  </div>
</footer>
