<div class= "hover:bg-blue-300 font-bold rounded-sm border-b-2 border-slate-400 h-20 w-4/5 my-1 px-3">
  <%= link_to drive_record_path(drive_record), class: "flex flex-col space-y-2 justify-center text-center w-full" do%>
    <span class="pt-2"><%= drive_record.destination.name %></span>
    <span class="text-xs"><%= drive_record.destination.address %></span>
  <% end %>
</div>
