<div class="flex flex-col items-center justify-center h-screen bg-gray-100">
  <%= image_tag '500-error.png', size: "300x200", class: "mx-auto" %>
  <p class="mx-auto text-gray-600 text-center">申し訳ありませんが、サーバーで問題が発生しました。<br>再度お試しください。</p>
  <a href="/" class="mt-8 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out">
    トップへ戻る
  </a>
</div>
