<div class="text-center">
  <h1 class="font-bold text-red-500 text-5xl font-mono mb-8">トップページ</h1>
</div>
<div class="text-center">
  <%= link_to '行き先を探す', new_search_path, id: 'search-location', class: 'bg-blue-500 hover:bg-blue-700 text-xl text-white font-bold py-2 px-4 rounded-full inline-block mt-4' %>
</div>

<script>
  const locationButton = document.getElementById('search-location')
  locationButton.addEventListener('click', (event) => {
    event.preventDefault(); // デフォルトでの画面遷移をキャンセル
    // ブラウザがGeolocation APIをサポートしている場合、現在地の緯度と経度を取得。
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition((position) => {
        sessionStorage.setItem('latitude', position.coords.latitude); // 現在地取得後の遷移先であるsearches/newに、取得した緯度と経度の情報を渡す必要があるため、ブラウザのセッションストレージに格納しておく。
        sessionStorage.setItem('longitude', position.coords.longitude);
        window.location.href = "<%= new_search_path %>"; 
        // 現在地情報の取得後に画面遷移する。クリックから画面遷移まで4秒ほど待機時間発生してしまっているので、対策考える。
      }, showError);
    } else {
      // ここは、とりあえずは画面上にアラート的な感じでメッセージが表示されればOKとする。
      console.log("Geolocation is not supported by this browser.");
    }
  });

  function showError(error) {
    switch(error.code) {
      case error.PERMISSION_DENIED:
        // 以下のエラーメッセージについても、とりあえずは画面上にアラート的な感じでメッセージが表示されればOKとする。
        console.log("User denied the request for Geolocation.");
        break;
      case error.POSITION_UNAVAILABLE:
        console.log("Location information is unavailable.");
        break;
      case error.TIMEOUT:
        console.log("The request to get user location timed out.");
        break;
      case error.UNKNOWN_ERROR:
        console.log("An unknown error occurred.");
        break;
    }
  }
</script>
