<div class="text-center">
  <h1 class="font-bold text-red-500 text-5xl font-mono mb-8">トップページ</h1>
</div>
<div class="text-center">
  <%= link_to '行き先を探す', '#', id: 'search-location', class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded inline-block mt-4' %>
</div>

<script>
  const locationButton = document.getElementById('search-location')
  locationButton.addEventListener('click', (event) => {
    event.preventDefault(); // link_toによるデフォルトの画面遷移を防止
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition((position) => {
        showPosition(position);
        // 位置情報取得後に指定URLへ遷移
        window.location.href = '<%= '#' %>';
      }, showError);
    } else {
      // ここは、とりあえずは画面上にアラート的な感じでメッセージが表示されればOKとする。
      console.log("Geolocation is not supported by this browser.");
    }
  });

  function showPosition(position) {
    console.log("Latitude: " + position.coords.latitude +
    "\\nLongitude: " + position.coords.longitude);
  }

  function showError(error) {
    switch(error.code) {
      case error.PERMISSION_DENIED:
        // 以下のエラーメッセージについても、とりあえずは画面上にアラート的な感じでメッセージが表示されればOKとする。
        console.log("User denied the request for Geolocation.");
        break;
      case error.POSITION_UNAVAILABLE:
        console.log("Location information is unavailable.");
        break;
      case error.TIMEOUT:
        console.log("The request to get user location timed out.");
        break;
      case error.UNKNOWN_ERROR:
        console.log("An unknown error occurred.");
        break;
    }
  }
</script>
