/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* app/views/searches/new.html.erbのチェックボックス/ラジオボタンの状態に応じて適用される背景色のスタイル */

/* 選択されていないときに適用するスタイル */
.label-color {
  background-color: #06B6D4; /* Tailwindのbg-cyan-500に相当 */
}

/* チェックボックスが選択されているときに適用するスタイル */
.form-checkbox:checked + .label-color {
  background-color: #0E7490; /* bg-cyan-700に相当 */
}

/* ラジオボタンが選択されているときに適用するスタイル */
.form-radio:checked + .label-color {
  background-color: #0E7490; /* bg-cyan-700に相当 */
}

/* app/views/searches/new.html.erbで、フォームの表示と非表示をスライド式で切り替えるためのスタイル */
.max-h-0 {
  max-height: 0;
}

.max-h-screen {
  max-height: 100vh; /* ビューポートの高さに合わせる */
}