/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* app/views/searches/new.html.erbで、フォームの表示と非表示をスライド式で切り替えるためのスタイル */
.max-h-0 {
  max-height: 0;
}

.max-h-screen {
  max-height: 100vh; /* ビューポートの高さに合わせる */
}

/* app/views/searches/result.html.erbで、表示中のカルーセルアイテムのインジケーターに色を付けるためのスタイル */
.active-indicator {
  background-color: #94a3b8
}

/* app/views/searches/result.html.erbで、画像の表示サイズを調整するスタイル  */
.carousel-image {
  width: 80%; /* 幅を親要素に合わせる */
  max-height: 250px; /* 最大高さを指定 */
  object-fit: contain; /* 画像のアスペクト比を保持しつつ、指定した範囲に収める */
}
